.App {
  padding: 0;
  background-image: linear-gradient(to right top, #000105, #010106, #020106, #040006, #060006, #070005, #070004, #070003, #050002, #040001, #020001, #000000);  font-family: Maven Pro, sans-serif;
  color: #ddd;
  font-family: Maven Pro, sans-serif;
  height: 100vh;
}

.content-area {
	width: 100%;
	max-width: 1440px;
}

.content-container {
	margin: .5rem;
	height: calc(100% - 85px);
	align-items: center;
}

.flex-row {
  gap:10px;
}

.Header {
  border-bottom: 1px solid #000000;
  background-color: #310057;
  background: linear-gradient(90deg, rgba(91,18,146,1) 0%, rgba(49,0,87,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  /*  rgba(49, 0, 87, 1)*/
  height: 66px;
}

h1,h2,h4,h5 {
  margin: 0;
  color: #ddd;
}

.Sidebar {
  width: 208px;
  height: 100%;
  margin: auto;
  padding-top: 16px;
  position: fixed;
  top: 66px;
  left: 0px;
  align-self: flex-start;
  align-items: start;
  border-right: 1px solid;
  background-color: #010106;
}

.Sidebar .nav-item {
  width: 100%;
  max-height: 40px;
}

.Sidebar a {
  color: #ddd;
}

.Sidebar a:after{
  content: "〈";
  opacity: 0;
  position: relative;
  top:-32px;
  right: -180px;
  transition: .25s;
  
}

.Sidebar div:hover {
  background-color: #603f7a;
  transition: .25s;
}

.Sidebar a:hover:after{
  top:-32px;
  right: -185px;
  opacity: 1;
}

.Sidebar a:visited {
  color: #ddd;
}

.sidebar-margin {
  margin-left: 208px;
  margin-top: 66px;
  align-self: start !important;
}

/* Header Text Colors */
.navbar-brand {
  font-weight: 650;
  color:#ffffff;
}

.navbar-brand:focus, .navbar-brand:hover {
  color:#ddd;
}

div.container-fluid:nth-child(3) > canvas:nth-child(1){
  display: flex !important;
  /* max-width: 1000px;
  max-height: 500px; */
}


div.MainBody {
  min-height: 500px;
  margin-top: 40px;
  padding-left: 0px; 
}
.Body {
  min-height: 500px;
}

.Content {
	height: 100vh;
	width: calc(100% - 2rem);
	margin: 1rem auto;
	max-width: 1600px;
}
.card {
  position: relative;
  width: 100%;
  background-color: #010106;
  outline: 1px solid;
  box-shadow: rgba(63, 57, 57, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.card > hr{
  opacity: 1;
  
}
.light{
  background-color: #2d313a;
}

.dark{
  background-color: #1c1e22;
}

.list-group-item {
  border-color: black !important;
}

.grid {
  display: grid;
}
#slp-button {
	--bs-btn-color: #fff;
	--bs-btn-border-color: #208e2c;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #208e2c;
	--bs-btn-hover-border-color: #208e2c;
  --bs-btn-bg: #010106;
  --bs-btn-active-bg: #9eff9be0;
  --bs-btn-active-border-color: #fff;
}

#update-button {
	--bs-btn-color: #fff;
	--bs-btn-border-color: #5b1292;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #5b1292;
	--bs-btn-hover-border-color: #5b1292;
  --bs-btn-bg: #010106;
  --bs-btn-active-bg: #daaaff;
  --bs-btn-active-border-color: #fff;
}

.card-header {
  background-color: #010106;
  border: none;
}

.chart-container {
  aspect-ratio: 2/1;
}

.chart-div {
  justify-content: center;
  aspect-ratio: 2/1;
}



.row {
  justify-content: center;
}

.stat-text {
  color: #DDD;
}

@media screen and (max-width: 500px){
  .Sidebar{
  display: none!important;
  }
  .Content{
    padding-left: 0 !important;
  }
  .chart-container {
    position: relative;
    margin: auto;
    height: auto;
    width: 100vw;
  }
  #RankChart{
    width: 95vw;
    position: relative;
  }

  }

#otp{
  display: flex;
  justify-content: center;
}
  .form-control {
    -webkit-transition: none;
    transition: none;
    font-size:x-large;
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 0;
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid white;
  }
  
  .form-control:focus {
    color: #3F4254;
    background-color: #ffffff;
    border-color: #884377;
    box-shadow: none;
  }
  
  .form-control.form-control-solid {
    background-color: #2d313a00;
    color: #dddddd70;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  }
  
  .form-control.form-control-solid:active,
  .form-control.form-control-solid.active,
  .form-control.form-control-solid:focus,
  .form-control.form-control-solid.focus {
    text-decoration: underline;
    color: #ffffff7a;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  }
  .ex {
    color: #ddd !important;
  }
  .eloRow{
    display: flex;
    flex-direction: row;
  }

  div.horizontal-shaking {
    animation-name: horizontal-shaking;
    animation-duration: .35s;
    animation-iteration-count: 1;
    animation-play-state: paused;
  }

  @keyframes horizontal-shaking {
    0% {background-color: #23252c00;}
    50% {background-color: red;}
    100% {background-color: #23252c00;}
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

  @keyframes horizontal-still {
    0% { transform: translateX(0) }
  }

  .btn{
    min-width: 140px;
    max-width: 140px;
  }

  #rating {
    color: #dddddd9e;
    font-weight: bold;
    position: relative;
  }

  #shift {
    position: relative;
    bottom: 8px;
  }
  
  #divline {
    position: relative;
    border-color: #1e1f25;
    bottom: 15px;
  }